{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "quotes": "off",
    "object-curly-newline": "off",
    "max-len": "off"
  }
}
